@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #F5F5F5;
    font-family: "Fira Sans", serif;
}

/* Navbar Styles*/
.navbar {
    width: 100vw;
    height: 100px;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 20px;
}

.nav-icon {
    font-size: 32px;
    font-weight: 700;
    color: #0e0e0e;
}

.btn-login {
    padding: 15px 30px 15px 30px;
    border-radius: 8px;
    color: #006a50;
    border: 1px solid #006a50;
}

.btn-login:hover {
    background-color: #006a50;
    color: #F5F5F5;
    cursor: pointer;
    transition: all 0.6s ease;
}

/* Hero Section */
.hero {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    width: 1200px;
    background-color: rgb(198, 228, 214);
    border-radius: 24px;
    margin: 0 auto;
}

.hero-main {
    padding: 80px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    text-align: left;
}

.hero-title {
    color: #0e0e0e80;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;

}

.hero-desc {
    color: #0e0e0e;
    font-size: 42px;
    font-weight: 700;
    line-height: 50px;
    margin: 16px 0px;
}

.hero-btn {
    border-radius: 8px;
    background: #006a50;
    margin: 24px 0px;
    padding: 17px 34px 17px 34px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    border: none;
}

.hero-btn:hover {
    background-color: #F5F5F5;
    color: #006a50;
    cursor: pointer;
    transition: all 0.6s ease;
    border: 1px solid #006a50;
}

/* Vision Section */
.vision {
    margin: 80px auto;
    width: 1200px;
}

.vision-title {
    color: #0e0e0e;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 24px;
}

.vision-desc {
    color: #0e0e0eb3;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 32px;
}

.card-container {
    display: flex;
    gap: 24px;
    margin-bottom: 32px;
}

.card-titile {
    color: #0e0e0ecc;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin: 12px 0px;
}

.card-desc {
    color: #0e0e0eb3;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 24px;
}

.card-btn {
    border-radius: 8px;
    padding: 11px 20px 11px 20px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    border: none;
}

.card-btn-1 {
    background-color: #5490f5;
}

.card-btn-2 {
    border-radius: 8px;

    background-color: #09a15c;
}

.card-btn-3 {
    border-radius: 8px;

    background-color: #ffc239;
}

.card-btn-1:hover {
    background-color: #ffffff;
    color: #5490f5;
    cursor: pointer;
    transition: all .6s ease;
}

.card-btn-2:hover {
    background-color: #ffffff;
    color: #09a15c;
    cursor: pointer;
    transition: all .6s ease;
}

.card-btn-3:hover {
    background-color: #ffffff;
    color: #ffc239;
    cursor: pointer;
    transition: all .6s ease;
}

.card-1 {
    border-radius: 16px;
    background: #5490f533;
    padding: 32px;
}

.card-2 {
    border-radius: 16px;
    background: #5490f533;
    padding: 32px;
}

.card-3 {
    border-radius: 16px;
    background: #5490f533;
    padding: 32px;
}

.quote-container {
    background-image: url('/images/quote-bg.png');
    background-repeat: no-repeat;
    background-position-x: 24px;
    background-position-y: 30px;
    border: 1px solid #0e0e0e26;
    border-radius: 16px;
    background-color: #ffffff;
    padding: 48px 24px 48px 24px;
}

.quote {
    color: #0e0e0ecc;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 12px;
}

.quote-name {
    color: #0e0e0ecc;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 4px;
}

.quote-designation {
    color: #0e0e0e99;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

/* News Section */
.news {
    margin: 80px auto;
    width: 1200px;
}

.news-title {
    color: #0e0e0e;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 24px;
}

.news-desc {
    color: #0e0e0eb3;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 32px;
}

.news-card-1 {
    display: flex;
    gap: 32px;
    padding: 48px;
    border-radius: 24px;
    background-color: #ffffff;
}

.news-img {
    border-radius: 24px;
}

.news-title {
    color: #0e0e0ecc;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 12px;
}

.news-icon {
    margin-bottom: 12px;
}

.news-date {
    display: flex;
    gap: 12px;
    color: #0e0e0eb3;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 12px;
}

.news-content {
    color: #0e0e0eb3;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 32px;
}

.news-btn {
    border-radius: 8px;
    background-color: #006a50;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    padding: 13px 26px 13px 26px;
    border: none;
}

.news-btn:hover {
    background-color: #F5F5F5;
    color: #006a50;
    cursor: pointer;
    transition: all .6s ease;
}

.news-card-2 {
    margin-top: 24px;
    display: flex;
    gap: 32px;
    padding: 48px;
    border-radius: 24px;
    background-color: #ffffff;
    margin-bottom: 80px;
}

/* Donate Section */
.donate {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 80px;
}

.donate-title {
    color: #0e0e0e;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}

.donate-desc {
    color: #0e0e0eb3;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 32px;
}

.donate-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 32px;
}

.donate-box-1,
.donate-box-2,
.donate-box-3,
.donate-box-4 {
    border: 1px solid #0e0e0e26;
    border-radius: 16px;
    background-color: #ffffff;
    padding: 40px;
    color: #0e0e0ecc;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}

.donate-box-2 {
    background-color: #c6e4d6;
}

.donate-box-1:hover,
.donate-box-2:hover,
.donate-box-3:hover,
.donate-box-4:hover {
    background-color: #c6e4d6;
    cursor: pointer;
}

.donate-input {
    border-bottom: 1px solid #0e0e0e26;
    background-color: #ffffff;
    padding: 20px 40px 20px 40px;
    color: #0e0e0e4d;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    border: none;
    width: 900px;
    height: 64px;
    margin-bottom: 32px;
}

.donate-input::placeholder {
    text-align: center;
}

.donate-btn {
    border: 1px solid #0e0e0e1a;
    border-radius: 8px;
    background-color: #006a50;
    padding: 17px 34px 17px 34px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}
.donate-btn:hover{
    background-color: #ffffff;
    color:#006a50;
    cursor: pointer;
    transition: all .6s ease;
}
